.page404 {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-link a {
  padding: 6px;
  border: 1px solid #ddd;
  margin: 2px;
  background-color: #089e60;
  border-radius: 5px;
}

.social-link a i {
  font-size: 25px;
  color: #fff;
}

.social-link a:hover {
  background-color: #cab70b;
}
